label {
  font-size: 18px;
  font-weight: normal;
}

.form-control-feedback {
  position: relative;
  top: -42px;
  float: right !important;
}

.page-header {
  margin-top: 72px;
  margin-bottom: 21px;
}

.invisible {
  visibility: hidden;
  display: none;
}
